{% comment %}
Astronomy workshops
{% endcomment %}


{% if site.curriculum == "bioc-rnaseq" %}

<p id="who">
  <strong>Who:</strong>
This lesson assumes you have a working knowledge of R and some previous exposure to RStudio. 
  These requirements can be fulfilled by either:
</p>
<ol type="a">
  <li>completing a <a href="https://carpentries-incubator.github.io/bioc-intro/">Bioconductor Carpentries Introduction to R workshop</a></li>
  <li>independent exposure to R and RStudio</li>
</ol>
<p>
In addition, this lesson assumes that learners have some familiarity with RNA transcription and high-throughput sequencing.<br>
<br>
Learner profiles of hypothetical attendees of the RNA-Seq workshop can be found on <a href="https://carpentries-incubator.github.io/bioc-rnaseq/profiles.html">this page.</a><br>
<br>
Participants should bring their own laptops and plan to participate actively.
</p>

{% comment %}
All other workshops
{% endcomment %}

{% else %}

<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>

{% endif %}
